leap year?

In [6]:
year=int(input("enter the year"))
if year%4==0 and year %100!=0:
    print("leap year")

else:
    print("non leap year")

enter the year 2005

non leap year

find hcf

In [21]:
def hcf(no1,no2):
    while no2:
        no1,no2=no2,no2%no1
    return no1

print(hcf(12,12))

12

prime number in an interval of 1-10000

In [81]:
prime_number =[]
for num in range(2,1000):
    for i in range (2,int(num**0.5)+1):
        if num % i==0:
            break
    else:
        prime_number.append(num)

print("all the prime number",prime_number)

all the prime number [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

armstorg number

In [141]:
def armstorg(num,LISTnum):
    strnum=str(num)
    numlengh=len(strnum)
    total=0
    for digit in strnum:
        total+int(digit)** numlengh
        if int(i)==total:
            LISTnum.append(total)

arm=[]
armstorg(1000,arm)
number=int(input("enter your number"))
temp=number
sum_be_cubes=0
while temp>0:
        digit=temp%10
        sum_be_cubes+=digit**3
        temp//=10
        if sum_be_cubes==number:
            print(f"number")
        else:
            print(f"no")

enter your number 67

no
no